.wysiwyg-toggle-wrapper {
  float: right;
}
.wysiwyg-toggle-wrapper a:last-child {
  background-color: #f0f0ee;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  color: #666;
  margin-right: 10px;
  padding: 2px 10px 2px;
}
.wysiwyg-toggle-wrapper a:last-child:hover,
.wysiwyg-toggle-wrapper a:last-child:active {
  background-color: #ddd;
  color: #000;
  text-decoration: none;
}
.form-textarea-wrapper textarea {
  clear: both;
}
/**
 * Style editor icon toolbar
 */
.mceEditor.defaultSkin td.mceToolbar {
  padding: 4px 8px 2px;
}
.mceEditor.defaultSkin .mceFirst {
  clear: left;
}
.mceEditor.defaultSkin .mceButton {
  margin: 2px 2px 4px;
  border-color: #ccc;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 0 2px 1px #ffffff inset;
  padding: 1px 2px;
}
.mceEditor.defaultSkin .mceListBox {
  margin: 2px 2px 4px;
}
.mceEditor.defaultSkin .mceListBox .mceText {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 0 2px 1px #ffffff inset;
  height: 22px;
}
.mceEditor.defaultSkin .mceListBox .mceOpen {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  width: 15px;
  background-position: -738px 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 0 2px 1px #ffffff inset;
  height: 22px;
}
.mceEditor.defaultSkin .mceButton:hover {
  border-color: #999;
  background-color: #fff;
}
.mceEditor.defaultSkin .mceSeparator {
  background: none;
  width: 6px;
}
/**
 * Modal popup
 */
#mceModalBlocker.clearlooks2_modalBlocker {
  background-color: #000;
}
