#image-uploader-wrapper,
#file-uploader-wrapper {
  display: none;
}
.filefield-source-reference-item {
  clear: left;
  min-height: 54px;
  padding: px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.filefield-source-reference-item .image-frame {
  float: left;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.filefield-source-reference-item .filename {
  margin: 4px 0 0 70px;
}
/* File upload table */
#image-uploader,
#file-uploader {
  padding-bottom: 300px;
}
#image-uploader .messages.error,
#file-uploader .messages.error {
  position: absolute;
  top: 100px;
}
#image-uploader tr.odd .form-item,
#file-uploader tr.odd .form-item,
#image-uploader tr.even .form-item,
#file-uploader tr.even .form-item {
  white-space: normal;
}
#image-uploader table td,
#file-uploader table td {
  padding: 4px 10px;
  vertical-align: top;
}
#image-uploader table .warning.tabledrag-changed,
#file-uploader table .warning.tabledrag-changed {
  display: none;
}
#image-uploader table .image-preview.pinkynail,
#file-uploader table .image-preview.pinkynail {
  height: 40px;
  padding: 0 10px 0 0;
}
#image-uploader table .image-preview.pinkynail img,
#file-uploader table .image-preview.pinkynail img {
  max-width: 40px;
  max-height: 40px;
}
#image-uploader table .image-widget-data.full-view,
#file-uploader table .image-widget-data.full-view {
  float: none;
  margin-left: 150px;
}
#image-uploader table .image-widget-data .form-items-wrapper,
#file-uploader table .image-widget-data .form-items-wrapper {
  display: none;
}
#image-uploader table .image-widget-data input,
#file-uploader table .image-widget-data input {
  vertical-align: text-bottom;
}
#image-uploader table .image-widget-data .form-item,
#file-uploader table .image-widget-data .form-item {
  margin: 12px 0;
}
#image-uploader table .image-widget-data .file-icon,
#file-uploader table .image-widget-data .file-icon {
  display: none;
}
#image-uploader table .image-widget-data label,
#file-uploader table .image-widget-data label {
  line-height: 2;
}
#image-uploader table .image-widget-data .image-op-btns,
#file-uploader table .image-widget-data .image-op-btns {
  text-align: right;
  margin-bottom: 1.5em;
}
#image-uploader table .image-widget-data .image-op-btns input,
#file-uploader table .image-widget-data .image-op-btns input {
  margin-left: 10px;
  background: none;
  color: #0074BD;
  font-size: 1.05em;
  cursor: pointer;
}
#image-uploader table .image-widget-data .image-op-btns input:hover,
#file-uploader table .image-widget-data .image-op-btns input:hover {
  text-decoration: underline;
}
#image-uploader input[type='text'],
#file-uploader input[type='text'] {
  width: 100%;
  padding: 2px;
}
#image-uploader .filefield-sources-list,
#file-uploader .filefield-sources-list {
  margin-bottom: 1em;
  font-size: 1.2em;
}
#image-uploader .form-type-managed-file .image-widget-data,
#file-uploader .form-type-managed-file .image-widget-data {
  float: none;
}
#image-uploader .form-type-managed-file input[type='text'],
#file-uploader .form-type-managed-file input[type='text'] {
  width: 80%;
}
#image-uploader .image-widget .form-submit,
#file-uploader .image-widget .form-submit {
  margin-top: 20px;
}
#image-uploader .plupload,
#file-uploader .plupload {
  border: none;
}
#image-uploader .plupload:hover,
#file-uploader .plupload:hover {
  border-color: #3c3;
}
#image-uploader .plupload:hover .plupload_content,
#file-uploader .plupload:hover .plupload_content {
  background-color: #f3fff3;
}
#image-uploader .plupload:hover .plupload_content .plupload_droptext,
#file-uploader .plupload:hover .plupload_content .plupload_droptext {
  font-size: 2em;
}
#image-uploader .plupload .plupload_content,
#file-uploader .plupload .plupload_content {
  border: 4px dashed #ccc;
  margin-top: 10px;
  padding: 5px;
}
#image-uploader .plupload .plupload_content ul,
#file-uploader .plupload .plupload_content ul {
  margin: 0;
}
#image-uploader .plupload .plupload_filelist_header,
#file-uploader .plupload .plupload_filelist_header {
  display: none;
}
#image-uploader .plupload .plupload_filelist_footer,
#file-uploader .plupload .plupload_filelist_footer {
  background-color: #f9f9f9;
}
#image-uploader #autocomplete,
#file-uploader #autocomplete {
  background-color: #fff;
  width: 550px !important;
  height: 300px;
  overflow-y: scroll !important;
  overflow-x: auto;
  border-color: #999;
}
button.ui-widget,
button.ui-widget:active {
  background: url("images/buttons.png") repeat-x scroll 0 0 transparent;
  border-color: #E4E4E4 #D2D2D2 #B4B4B4;
  border-radius: 20px 20px 20px 20px;
  border-style: solid;
  border-width: 1px;
  color: #5A5A5A;
  cursor: pointer;
  font-size: 1.077em;
  padding: 0 8px;
  text-align: center;
}
.ui-menu {
  position: absolute;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 2px;
}
.ui-menu table {
  border: none;
}
.ui-menu table td {
  vertical-align: top;
}
.ui-menu table td:last-child {
  border: none;
}
.defaultSkin span.mce_drupalhelp {
  background-position: -340px 0;
}
.wysiwyg-toggle-wrapper .cboxElement {
  margin-right: 15px;
  padding-left: 18px;
}
.wysiwyg-toggle-wrapper .cboxElement#image-upload-btn {
  background: #ffffff url(images/pic.png) no-repeat left;
}
.wysiwyg-toggle-wrapper .cboxElement#file-upload-btn {
  background: #ffffff url(images/folder.png) no-repeat left;
}
